<!-- Clicker -->
<div id="make_sell_wrap" class="bg-body-secondary clearfix">
  <!-- Cook -->
  <div id="make_div">
    <p>
      <span id="make_lbl">widgets</span>
      (purity is <em><span id="make_qlt">NA</span></em>)<br />
      <strong><span id="make_amt">0</span></strong><br />
      <small><span id="clicker_rps">0</span> per second (net)</small><br />
      <small><span id="clicker_rps_g">0</span> per second (gross)</small>
    </p>
    <div id="make_btn">make</div>
  </div>
  <!-- Sell -->
  <div id="sell_div">
    <p>
      <span id="sell_lbl">cash</span>
      ($<span id="sell_roi">0</span> /batch)<br />
      $<strong><span id="sell_amt">0</span></strong><br />
      <small>$<span id="safe_cash">0</span> laundered</small><br />
      <small>$<span id="seller_rps">0</span> per second</small>
    </p>
    <div id="sell_btn">sell</div>
  </div>
</div>
<!-- Click Numbers -->
<div class="clearfix">
  <div class="make_up"></div>
  <div class="sell_up"></div>
</div>
<!-- Info -->
<hr>
<!-- Risk -->
<div id="risk_div">
  You have a <strong><span id="risk_level">low</span></strong> chance of a DEA raid
  (<strong><span id="risk_amount">0</span>%</strong>)<br />
  You have a <strong><span id="risk2_level">low</span></strong> chance of an IRS audit
  (<strong><span id="risk2_amount">0</span>%</strong>)
</div>
<!-- Saved -->
<div id="last_saved">Game saved 60 seconds ago</div>
<!-- Messages -->
<div id="last_message">No new messages</div>
<hr>
