{{ define "main" }}
<div class="container-fluid py-3"><div class="row">
  <!-- Bench -->
  <div class="col col-12 col-md-4">
    {{ partial "bench" . }}
  </div>

  <div class="col col-12 col-md-8">
    <!-- Tabs -->
    <!-- Tabs | Buttons -->
    <div class="tabs">
      <button onclick="switch_tab('clickers');" id="clickers_tab" class="tab">
        Manufacturing (<span id="clickers_unlocked">0</span>/<span id="clickers_total">0</span>)
      </button>
      <button onclick="switch_tab('sellers');" id="sellers_tab" class="tab">
        Distribution (<span id="sellers_unlocked">0</span>/<span id="sellers_total">0</span>)
      </button>
      <button onclick="switch_tab('upgrades');" id="upgrades_tab" class="tab">
        Upgrades (<span class="upgrades_unlocked">0</span>/<span class="upgrades_total">0</span>)
      </button>
      <button onclick="switch_tab('banks');" id="banks_tab" class="tab">
        Laundering (<span id="banks_unlocked">0</span>/<span id="banks_total">0</span>)
      </button>
      <button onclick="switch_tab('achievements');" id="achievements_tab" class="tab">
        Achievements (<span class="achievements_unlocked">0</span>/<span class="achievements_total">0</span>)
      </button>
      <button onclick="switch_tab('messages');" id="messages_tab" class="tab">
        Messages
      </button>
      <button onclick="switch_tab('misc');" id="misc_tab" class="tab">
        Options &amp; Stats
      </button>
    </div>
    <!-- Tabs | Content -->
    <div>

      <div class="tab_div" id="clickers_div" style="display:none;">
        <!-- Tab Content -->
        <div id="clickers"></div>
      </div>

      <div class="tab_div" id="sellers_div" style="display:none;">
        <!-- Tab Content -->
        <div id="sellers"></div>
      </div>

      <div class="tab_div" id="upgrades_div" style="display:none;">
        <div class="p-2 m-1 bg-body-secondary rounded">
          <!-- Tab Title -->
          <h3 class="m-1">
            <a href="#" onclick="$('#upgrades_info').toggle(100); return false;">
            Upgrades
            </a>
            <small class="float-end"><span class="upgrades_unlocked">0</span>/<span class="upgrades_total">0</span></small>
          </h3>
          <!-- Tab Info -->
          <div id="upgrades_info">
            <small>
              Batches made per click: <strong><span class="click_make_amount">0</span></strong>
              <br>
              Batches sold per click: <strong><span class="click_sell_amount">0</span></strong>
            </small>
            <br>
            <small>
              Purchase upgrades to improve your meth operation.
            </small>
          </div>
        </div>
        <!-- Tab Content -->
        <div id="upgrades"></div>
      </div>

      <div class="tab_div" id="banks_div" style="display:none;">
        <div class="p-2 m-1 bg-body-secondary rounded">
          <!-- Tab Title -->
          <h3 class="m-1">
            <a href="#" onclick="$('#finance_info').toggle(100); return false;">
            Laundering
            </a>
            <small class="float-end">$<span id="bank_rps">0</span>/sec</small>
          </h3>
          <!-- Tab Info -->
          <div id="finance_info">
            <small>
              Total laundered: <strong>$<span id="bank_total">0</span></strong>
            </small>
            <br>
            <small>
              Laundered cash is the amount of <em>your total cash</em> that is
              safe from being stolen or
              seized by the DEA or IRS. The more laundered to
              total cash you have, the lower the likelihood that
              you'll be audited. Laundered cash is not a separate resource,
              so it can never be higher than your total cash.
            </small>
          </div>
        </div>
        <!-- Tab Content -->
        <div id="banks"></div>
      </div>

      <div class="tab_div" id="achievements_div" style="display:none;">
        <div class="p-2 m-1 bg-body-secondary rounded">
          <!-- Tab Title -->
          <h3 class="m-1">
            Achievements
            <small class="float-end"><span class="achievements_unlocked">0</span>/<span class="achievements_total">0</span></small>
          </h3>
        </div>
        <!-- Tab Content -->
        <div id="achievements"></div>
      </div>

      <div class="tab_div" id="messages_div" style="display:none;">
        <div class="p-2 m-1 bg-body-secondary rounded">
          <!-- Tab Title -->
          <h3 class="m-1">
            Messages
            <small class="float-end">You've got mail!</small>
          </h3>
        </div>
        <!-- Tab Content -->
        <div id="messages" style="text-align: left;"></div>
      </div>

      <div class="tab_div p-2 m-1 bg-body-secondary rounded clearfix" id="misc_div" style="display:none;">
        <div class="row">
        <div>
            <h3 class="m-1">Instructions</h3>
            <ol>
              <li>Cook batches of meth</li>
              <li>Sell meth batches</li>
              <li>Buy stuff with your drug money</li>
            </ol>
          </div>

          <div>
            <h3 class="m-1">Options</h3>
            <button onclick="gm.do_reset_confirm();">Reset</button>
            <button onclick="gm.do_reset_all_confirm();">Reset All</button>
            <button onclick="gm.do_save();">Save</button>
            <button onclick="gm.do_load();">Load</button>
          </div>

          <div>
            <h3 class="m-1">Backup</h3>
            <textarea id="impexp" style="width: 100%; height: 100px;"></textarea>
            <br>
            <button onclick="gm.do_export();">Create backup</button>
            <button onclick="gm.do_import();">Import backup</button>
          </div>

          <div>
            <h3 class="m-1">Stats</h3>
            <ul>
              <li>Batches cooked: <strong><span id="made_widgets">0</span></strong></li>
              <li>Batches hand-cooked: <strong><span id="hand_made_widgets">0</span></strong></li>
              <li>Batches sold: <strong><span id="sold_widgets">0</span></strong></li>
              <li>Batches hand-sold: <strong><span id="hand_sold_widgets">0</span></strong></li>
              <li>Total upgrades purchased: <strong><span id="bought_upgrades">0</span></strong></li>
              <li>Total cash earned: <strong>$<span id="total_cash">0</span></strong></li>
              <li>Total cash spent: <strong>$<span id="total_spent">0</span></strong></li>
              <li>Seconds spent playing: <strong><span id="time_played">0</span></strong></li>
              <li>Batches made per click: <strong><span class="click_make_amount">0</span></strong></li>
              <li>Batches sold per click: <strong><span class="click_sell_amount">0</span></strong></li>
            </ul>
          </div>

          <div>
            <h3 class="m-1">Info</h3>
            <p>
              {{ with .Site.Copyright }}
                &copy; 2023 {{ . }}
              {{ end }}
              <br/>
              &copy; 2013-2023 Aaron Meier
            </p>
            {{ if .Site.Menus.footer }}
              <ul class="nav">
                {{ range .Site.Menus.footer }}
                  <li class="nav-item">
                    <a class="nav-link px-2" href="{{ .URL }}" title="{{ .Title }}">
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>

{{ partial "tpls" . }}

{{ end }}

{{ define "foot" }}
  {{ $jqueryJS := resources.GetRemote "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" }}
  {{ $mustacheJS := resources.GetRemote "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.js" }}
  {{ $gameJS := resources.Get "js/game.js" }}
  {{ $initJS := resources.Get "js/init.js" }}

  {{ $indexJS := slice $jqueryJS $mustacheJS $gameJS $initJS | resources.Concat "js/index.js" | minify }}
  {{ $indexSRI := $indexJS | resources.Fingerprint "sha384" }}
  <script defer src="{{ $indexSRI.RelPermalink }}" integrity="{{ $indexSRI.Data.Integrity }}"></script>
{{ end }}
